

.loader{
    max-width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
 }

@media only screen and (min-width:900px){
    .loader{
        height: 100vh;
    }
}
.loader__logo{
    max-width: 30%;
    object-fit: contain;
}